# streamlit==1.43.1
# pandas==2.2.3
# python-docx==1.1.2
# scikit-learn==1.6.1


streamlit==1.44.1  # For building the web app
pandas==2.2.3  # For data manipulation
python-docx==1.1.2  # For handling Word documents
scikit-learn==1.6.1  # For machine learning models
spacy==3.8.5  # For NLP processing
transformers==4.50.3  # For zero-shot classification
openpyxl==3.1.5  # For reading Excel files
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl  # SpaCy English model
